{% extends 'base.html' %}

{% block content %}
<h1>Acerca de OnlyFlans</h1>
<p>OnlyFlans es el lugar perfecto para los amantes de los flanes. Aquí puedes descubrir recetas, compartir tus creaciones y disfrutar de la mejor comunidad dedicada a los flanes.</p>
<p>OnlyFlans es la comunidad perfecta para los amantes de los flanes. Desde recetas caseras hasta consejos de expertos, nuestro sitio ofrece todo lo que necesitas para explorar y disfrutar del mundo del flan. Únete a nosotros para descubrir nuevas variedades, compartir tus creaciones y conectar con una comunidad apasionada por este delicioso postre. ¡Bienvenido a OnlyFlans, donde la pasión por el flan nunca termina!</p>
{% endblock %}
