{% extends 'base.html' %}

{% block content %}
<!-- Carrusel de imágenes -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for flan in flanes %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img src="{{ flan.image_url }}" class="d-block w-100" alt="{{ flan.name }}">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Fin del carrusel de imágenes -->

<!-- Flanes Privados -->
<div class="container mt-4">
    <h2>Flanes Privados</h2>
    <div class="row">
        {% for flan in flanes %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ flan.name }}</h5>
                    <p class="card-text">{{ flan.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
