{% extends 'base.html' %}

{% block content %}
<div class="jumbotron bg-primary text-white">
    <h1>Flanes Públicos</h1>
</div>
<div class="row">
    {% for flan in flanes %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ flan.name }}</h5>
                <p class="card-text">{{ flan.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
